name: goreleaser

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
  # Validate on develop, main, and master branches that the releaser
  # is working as expected.
  pull_request:
    branches:
      - develop
      - main
      - master

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.12'
          check-latest: true
      - name: Release dry run
        run: make release-dry-run
      - name: setup release environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GITHUB_TOKEN}}' > .release-env    
      - name: Release publish
        # Do not publish the release for pull requests.
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make release
